:root {
  --dark: #292830;
  --light: #bdbdbd;
  --main-color: #ff7235;
  --bg-color: #fff;
  --white: #fff;
  --black: #000;
  --gradient: linear-gradient(
    90deg,
    rgba(255, 114, 53, 0.4) 0%,
    rgba(255, 255, 255, 0.4) 100%
  );
}

@font-face {
  font-family: 'HindSiliguri';
  src: local('Hind Siliguri'),
    url(/fonts/HindSiliguri-Regular.ttf) format(truetype),
    url(/fonts/HindSiliguri-Medium.ttf) format(truetype),
    url(/fonts/HindSiliguri-SemiBold.ttf) format(truetype),
    url(/fonts/HindSiliguri-Bold.ttf) format(truetype),
    url(/fonts/HindSiliguri-Light.ttf) format(truetype);
}

body {
  font-family: 'HindSiliguri', sans-serif;
  color: var(--dark);
  background-color: var(--bg-color);
  font-size: 14px;
}

section {
  padding-top: 140px;
}

.container {
  max-width: 1170px;
  padding: 0 30px;
  margin: 0 auto;
}

.full-width {
  width: 100vw;
}

.m-auto {
  margin: 0 auto;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.z-top {
  z-index: 999;
}

/* FLEX UTILITS */

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-reverse {
  flex-direction: row-reverse;
}

.column {
  flex-direction: column;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.space-between {
  justify-content: space-between;
}

/* TEXT UTILITS */

.fs-large {
  font-size: 96px;
}

.fs-sub-ttl {
  font-size: 24px;
}

.fw-light {
  font-weight: 300;
}

.fw-medium {
  font-weight: 500;
}

.fw-semibold {
  font-weight: 600;
}

.fw-bold {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

/* COLOR UTILITS */

.light-color {
  color: var(--light);
}

.white-color {
  color: var(--white);
}

.main-color {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color);
}

.bg-white {
  background-color: var(--white);
}

/* MEASUREMENTS UTILITS */

.w-100 {
  width: 100%;
}

.w-50 {
  width: 50%;
}

/*  */

.header {
  padding-top: 57px;
}
.logo {
  width: 112px;
  height: auto;
}
.nav-list {
  gap: 40px;
}

.nav-link {
  color: var(--dark);
  font-size: 18px;
}
.btn {
  border-radius: 8px;
  padding: 15px 18px;
  font-size: 18px;
  border: var(--main-color) solid 1px;
  cursor: pointer;
}

.cta-btn {
  color: var(--white);
  background-color: var(--main-color);
}

.cta-btn-white {
  color: var(--main-color);
  background-color: var(--white);
}

.burger {
  /* display: flex; */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  gap: 6px;
}

.burger span {
  display: block;
  width: 100%;
  height: 4px;
  background: var(--main-color, #ff7235);
  border-radius: 2px;
}

.mobile-menu {
  /* display: none; */
}

.burger-request {
  display: none;
  margin-top: 100px;
}

.header-btns {
  display: flex;
  align-items: center;
  gap: 100px;
}

h1,
h2 {
  letter-spacing: -3px;
}

.hero-btn {
  padding: 18px 24px;
  gap: 14px;
}

.hero-cta-block {
  gap: 24px;
  margin-top: 40px;
}

.hero-sub-ttl {
  margin-top: 20px;
}

.column-info {
  max-width: 540px;
  width: 60%;
}

.banner-content {
  padding-top: 90px;
}

.banner-img {
  max-width: 1110px;
  width: 90%;
  border-radius: 32px 32px 0 0;
}

.banner-blob {
  max-width: fit-content;
  width: 100%;
}

.brands {
  padding-top: 90px;
  width: 90%;
}

.info-sub-ttl {
  max-width: 90%;
}

.more-link {
  gap: 12px;
}

.column-info {
  gap: 24px;
}

.product-content {
  gap: 80px;
}

.product-section h2 {
  max-width: 730px;
}
.product-section p {
  max-width: 350px;
}

h3 {
  font-size: 30px;
  font-weight: 500;
}

.product-cards {
  gap: 80px;
}

.product-card-dsc {
  gap: 12px;
  max-width: 230px;
  margin-top: 44px;
  margin-bottom: 32px;
}

.plans-info h2 {
  font-size: 72px;
  text-align: center;
}

.plans-cards {
  margin-top: 80px;
  gap: 30px;
}

.plans-card-item {
  padding: 40px;
  gap: 40px;
}

.plan-card-content {
  gap: 24px;
}

.plan-check-item,
.plan-checks {
  gap: 8px;
}

.plans-section h3 {
  font-size: 32px;
  font-weight: 600;
}

.check-dsc {
  font-size: 18px;
}

.plan-btn {
  gap: 14px;
}

.plan-price {
  font-size: 24px;
  font-weight: 600;
}
.plan-price span {
  font-size: 20px;
  font-weight: 300;
  color: var(--light);
}

.plan-price-dsc {
  font-size: 12px;
  color: var(--light);
}

.slider-card {
  /* width: 350px; */
  height: 250px;
  padding-top: 0;
  justify-content: start;
}
.slider-plank {
  height: 10px;
  background-color: var(--main-color);
  border-radius: 10px 10px 0 0;
}
.slider-card-dsc {
  font-size: 18px;
  padding: 25px;
}

.slider-card-whisher {
  padding: 0 25px;
  gap: 12px;
}

.slider-card-whisher span {
  font-weight: 400;
}

.wishers-content {
  gap: 80px;
}

.whisher-name {
  font-size: 16px;
}
.whisher-photo {
  width: 30px;
  height: 30px;
}

.slider-wrapper {
  overflow-x: auto;
}

.slider-track {
  gap: 30px;
  flex-wrap: nowrap;
}

.absolute-center {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-blob-left {
  bottom: 0;
  top: auto;
  width: 35%;
}

.banner-blob-right {
  left: auto;
  right: 0;
  width: 35%;
}

.banner-down-info {
  padding-top: 120px;
  max-width: 920px;
}
.banner-down-title {
  font-size: 72px;
  font-weight: 700;
}

.banner-down-info {
  padding-top: 120px;
}
.banner-down-dsc {
  font-size: 36px;
  font-weight: 500;
  margin-top: 24px;
}

.banner-down-section {
  padding-top: 120px;
}

.banner-down-img-div {
  justify-content: space-between;
  padding: 0 60px;
}

.banner-down-img-div button {
  margin-top: 60px;
  gap: 10px;
}

.banner-down-img-div > img {
  width: 38%;
  padding-top: 50px;
}

.footer-content {
  align-items: normal;
  padding-top: 80px;
}

.footer-links {
  font-weight: 500;
  font-size: 18px;
  align-items: start;
}

.footer-title {
  font-size: 24px;
}

.footer-form {
  align-items: normal;
}

.footer-main-block {
  align-items: start;
}

/*  */

.footer-content {
  padding-bottom: 50px;
}
.footer-items {
  padding-top: 24px;
  gap: 8px;
}
.footer-form-slogan {
  margin-top: 24px;
}
.footer-form-dsc {
  margin-top: 10px;
}
.footer-final-row {
  position: relative;
  margin-top: 60px;
}
.privacy {
  gap: 24px;
}
.copyright {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.social-links {
  gap: 14px;
}

/*  */

.email-form {
  margin-top: 18px;
  display: flex;
  align-items: center;
  border: 1px solid var(--black);
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;
  padding: 6px;
}

.email-input {
  padding: 10px 15px;
  border: none;
  outline: none;
  font-size: 18px;
}

.email-input::placeholder {
  color: var(--dark);
}

.email-btn {
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.email-btn:hover {
  background-color: #e6622f;
}
