/* @font-face {
  font-family: 'Poppins';
  src: local('Poppins'), url(/fonts/Poppins-Regular.ttf) format(truetype),
    url(/fonts/Poppins-Medium.ttf) format(truetype),
    url(/fonts/Poppins-SemiBold.ttf) format(truetype),
    url(/fonts/Poppins-Bold.ttf) format(truetype);
}

body {
  font-family: 'Poppins', sans-serif;
  color: black;
  background-color: #f1f1f1;
  font-size: 14px;
}

.container {
  max-width: 1230px;
  padding: 0 30px;
  margin: 0 auto;
} */
